*{
    margin:0px;
    padding:0px;
    outline:none;
    border:none;
    box-sizing:border-box;
}
.linear{
    background:linear-gradient( to bottom,red,indianred,yellow,orange);
    height:600px;
}
h1{
    text-align: center;
    padding:210px ;
    color:white;
    font-size:3em;
}
.radial{
    background:radial-gradient( seagreen,lightgreen,white);
    height:600px;
}

input[type="checkbox"]:checked+label{
    text-decoration:line-through;
}
.one{
    border:2px solid gray;
    height:100px;
    width:300px;
}
.two{
    border:2px solid gray;
    height:100px;
    width:300px;
    padding:50px;
    box-sizing:border-box;
}