*{
    margin:0px;
    padding:0px;
    outline:none;
    border:none;
    box-sizing:border-box;
}
body{
    background:url(../images/barbell-bodybuilding-effort-703016.jpg) no-repeat center center fixed;
    background-size:cover;
}
div{
    margin:270px auto;
    color:white;
    font-size:30px;
    text-align:center;
    width:70%;
    background-color:#1a373f;
    border-radius:25px;
    opacity:0.9;
    border:2px solid #aee5c9;
    
}
button{
    height:65px;
    border-radius:25px;
    background-color:#1a373f;
    color:white; 
    opacity:0.9999999;
    font-size:1em;
    border: 2px solid white;
}
p{
    font-size:1em;
}
h1{
    font-size:1.8em;
    padding-top:20px;
}
