 h1,h2,h3
{ color:white;
    text-align: center;
    font-size: 75px;
    background-color:black ;
    margin-top: 100px;
    opacity: 0.44;
   font-family: 'Coustard', serif;
    
}
/*body{
   background-image: url(../images/beauty.jpeg)  ;
    color:white;
}*/
body{
   background: url(../images/dark_dawn1.png) no-repeat center center/*fixed*/   ;
    background-size: cover;
    color:white;
}
p{
    color:ghostwhite;
    font-size:17px;
    text-align: center;
}
a{
    color:navajowhite;
}
div{
    text-align:center;
}
li{
    list-style-type: none;
}
